.footer {
  background-color: #7cd985 !important;
  padding-bottom: 1rem;
  justify-content: center;
}

.footer__left-part {
  white-space: nowrap;
}

.footer-socials__github,
.footer-socials__facebook,
.footer-socials__slideshare {
  margin-top: 1rem;
  padding-bottom: 0 !important;
}

.footer-text {
  color: #3d6d42;
  font-family: "Luba LT CYR";
  font-weight: 400;
  text-transform: uppercase;
}
