.footer {
  display: flex;
  margin: auto;
  width: 119rem;
  background-color: #7cd985;
}

.footer__left-part {
  width: 14.6rem;
  height: 8.2rem;
  white-space: nowrap;
}

.footer__content {
  display: flex;
  align-items: center;
  margin: 0rem 12.8rem;
  width: 119rem;
  height: 13.2rem;
}

.footer-socials {
  display: flex;
  margin-bottom: 1.5rem;
}

.footer-socials__github,
.footer-socials__facebook,
.footer-socials__slideshare {
  width: 3.1rem;
  margin-right: .9rem;
}

.footer-text {
  color: #3d6d42;
  font-family: "Luba LT CYR";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}
