.navigation__page-scroller {
  cursor: pointer;
  text-transform: uppercase !important;
  font-weight: 700;
  font-family: "Luba LT CYR";
  font-weight: bold !important;
  white-space: nowrap;
  vertical-align: middle;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.navbar > .grid > .column {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.navigation__page-scroller::before, .logo-container::before {
  visibility: hidden;
}

.navigation__page-scroller--green > * {
  color: #7cd985;
}

.navigation__page-scroller--black > * {
  color: black;
}

.navigation__page-scroller--green > *:hover,
.navigation__page-scroller--green .true-active {
  color: black;
}

.navigation__page-scroller--black > *:hover,
.navigation__page-scroller--black .true-active {
  color: white;
}

#logo {
  max-height: 4.5rem;
}

@media screen and (max-height: 480px) {
  #logo {
    max-height: 3rem;
  }
  .ui.top.navbar > .grid > .column {
    padding: 0.25rem;
  }
}
