.navbar {
  display: flex;
  margin: auto;
  width: 119rem;
}

.navbar__content {
  display: flex;
  margin: 1.9rem 12.8rem 1.1rem;
  width: 119rem;
  padding-left: .2rem;
}

.logo {
  width: 20.4rem;
}

.navigation-container {
}
