.navigation {
  display: flex;
  list-style: none;
}

.navigation__page-scroller {
  cursor: pointer;
  margin-right: 6.3rem;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 700;
  font-family: "Luba LT CYR";
  font-weight: bold;
  text-align: right;
  white-space: nowrap;
  vertical-align: middle;
}

.navigation__page-scroller:first-child {
  margin-right: 5rem;
}

.navigation__page-scroller--green {
  color: #7cd985;
}

.navigation__page-scroller--black {
  color: black;
}

.navigation__page-scroller--green .active,
.navigation__page-scroller--green:hover {
  color: black;
}

.navigation__page-scroller--black:hover,
.navigation__page-scroller--black .active {
  color: white;
}
