.header,
.text {
  font-family: "Luba LT CYR";
}

.text,
.header--level-3 {
  color: #828882;
  font-weight: 300;
}

.header--level-2 {
  color: black;
  text-transform: uppercase;
}

.header--big {
  font-weight: 700;
}

.header--small {
  font-weight: 300;
}

.header--heavy {
  font-weight: 500;
}

.header--level-3 {
  margin: 1.6rem 0rem;
}

.text--green,
.header--green {
  color: #3d6d42;
}
