.image {
  margin-right: 1rem;
  max-width: 100%;
}

.above-shadow {
	padding-bottom: 0 !important;
}

.screenshot-column {
  max-height: 768px !important;
}

.shadow-container {
	padding-top: 6px !important;
}

ul.carousel-controls > li.carousel-control {
	width: 16px;
	height: 16px;
	border-radius: 8px;
	background-color: #61b969 !important;
	border: none !important;
	float: left;
	margin-right: 12px;
	margin-left: 12px;
	cursor: pointer;
}

ul.carousel-controls > li.carousel-control.active {
	background-color: white !important;
}

div.slider-decorator-1 img, div.slider-decorator-2 img {
	height: 5rem;
}

div.slider-decorator-1 {
  left: -4rem !important;
}

div.slider-decorator-2 {
  right: -4rem !important;
}

div.slider-decorator-1 > button, div.slider-decorator-2 > button {
	background-color: rgba(0, 0, 0, 0.05);
	border: none;
}
