.section--green {
  background-color: #7cd985;
}

.slider {
  display: flex;
  margin-top: 4.4rem;
  margin-bottom: 2.2rem;
}

.devices {
  width: 43.2rem;
}

.slider__right-part {
  margin-left: 3.5rem;
  width: 41.5rem;
}

.store-buttons {
  display: flex;
}

.app-store,
.google-play {
  width: 14rem;
}

.slider-controls {
  display: flex;
}
