.tech-link {
  background: #f3c523;
  border-radius: .6rem;
  color: white;
  font-family: "Luba LT CYR";
  font-weight: 500;
  padding: 1rem;
  white-space: nowrap;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-table;
  align-self: center;
}

.tech-link:hover {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
}

.technologies > .column > .grid > .column {
  display: flex !important;
  flex-direction: column !important;
}

.technologies > .column > .grid > .column > img {
  height: 10rem;
  width: 10rem;
  align-self: center;
}

.technologies > .column > .grid > .column > p {
  flex: 1 0 auto;
}