.section__content--technologies {
  margin-top: 5.8rem;
}

.technologies-container {
  display: flex;
  justify-content: space-between;
  width: 84.8rem;
  margin-top: 4.4rem;
  margin-left: 4.5rem;
}

.tech {
  display:flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.tech__description {
  margin-top: 2.8rem;
}

.gear {
  width: 14.2rem;
  margin: auto;
}

.react-native {
  width: 16rem;
  margin: auto;
}

.tech-talks {
  width: 15.4rem;
  margin: auto;
}

.tech-link {
  background: #f3c523;
  border-radius: .6rem;
  color: white;
  font-family: "Luba LT CYR";
  font-size: 1.8rem;
  font-weight: 500;
  padding: 1.3rem 1.9rem 1.1rem;
  text-transform: uppercase;
  text-decoration: none;
}

.tech-link:hover {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
}
